 body,html{
    font-family: "Montserrat" ,sans-serif;
}

.movie-card{
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin-left: 30px;
    border-radius: 15px;
    height: 340px;
    width: 183px;
    background:  rgba(255, 255, 255, 0.06);
    img{
        border-radius: 20px;
        width: 183px;
        height: 287px;
    }
    .info-field{
        div{
            font-weight: 700;
            font-size: 20px;
            color: #fff;
        }
    }
}