

.login-page{
    display: flex;
    align-items: center;
    justify-content: center;
    .login-container{
        margin-top: 230px;
       border-radius: 10px;
       display: flex;
       width: 250px;
       height: 360px;
       background: rgba(255, 255, 255, 0.103);

       form{
         margin-left: 35px;
         .input-section{
            flex-direction: column;
                 align-items: center;
                 justify-content: center;
                margin-top: 70px;
             input{
                 margin-bottom: 30px;
                    background: #1a2336;
                    border: none;
                    outline: none;
                    border-radius: 10px;
                    height: 30px;
                    color: #fff;
                    padding: 5px;
             }

        }
         button{
                background: #3f6dcf;
                border: none;
                width: 130px;
                height: 40px;
                color: #fff;
                border-radius: 10px;
                font-weight: 400;
                font-size: 16px;

                &:active{
                    background: #5f8ae6;
                }
            }
            div{
                margin-top: 20px;
                font-weight: 500;
                font-size: 14px;
            }
       }
    }
}