 body,html{
    background: linear-gradient(100deg, #233458 0%, #111827 100%);
    font-family: "Montserrat" ,sans-serif;
    overflow: hidden;
    margin: 0;
}

    section{
        display: flex;
        align-items: center;
        justify-content: center;
        .developed-section{
            margin-top: 200px;
            img{
                margin-bottom: 20px;
                margin-left: 100px;
                width: 200px;
                height: 200px;
            }
            div{
                text-align: center;
                font-weight: 600;
                font-size: 30px;
                color: #fff;
            }
            button{
                margin-top: 20px;
                margin-left: 100px;
                font-weight: 500;
                font-size: 20px;
                color: #fff;
                border-radius: 13px;
                border: none;
                width: 200px;
                height: 60px;
                background: rgba(255, 255, 255, 0.06);
                
                &:active{
                    background: rgba(134, 133, 133, 0.06);
                }
            }
    
        }
    }