 body,html{
    background: linear-gradient(100deg, #233458 0%, #111827 100%);
    font-family: "Montserrat" ,sans-serif;
    overflow: auto;
    margin: 0;
}


.home-container{
    .home-section{
        .funny-category{
            h2{
                margin-top: 8px;
                margin-bottom: 10px;
                margin-left: 30px;
                font-weight: 700;
                font-size: 30px;
                color: #fff;
            }
            .movies-container{
                margin-left: 20px;
                display: flex;
            }
        }
        .romantic-category{
            h2{
                margin-top: 8px;
                margin-bottom: 10px;
                margin-left: 30px;
                font-weight: 700;
                font-size: 30px;
                color: #fff;
            }
            .movies-container{
                margin-left: 20px;
                display: flex;
            }
        }
    }
}